{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 2{% endblock %}

{# основной контент: #}
{% block main %}
    <h1>Шаблоны</h1>
    <div>Тема лабораторной - шаблоны. Список сделанных страниц:</div>
    
    <h2>Примеры вычислений</h2>
    <p>5 + 2 = {{ 5 + 2 }}</p>
    <p>11 × 28 = {{ 11 * 28 }}</p>
    <p>3258 - 759 = {{ 3258 - 759 }}</p>
    <p>8452 / 793 = {{ "%.2f"|format(8452 / 793) }}</p>
    <p>45<sup>8</sup> = {{ 45**8 }}</p>

    <h2>Список фруктов</h2>
    <ul>
        {% for f in fruits %}
        <li>{{ loop.index }} - {{ f.name }}: {{ f.price }} &#8381;</li>
        {% endfor %}
    </ul>
{% endblock %}